{%extends "layout.html"%}
{%block content%}

    <h1>isumpotent</h1>
    <p>This is the homepage</p>
    <div class = "home">
    <!-- Input -->
    <!-- <div class="ml-container"> -->
        <form action="{{ url_for('predict') }}" method="POST">
            <textarea class='message-box' name="message" rows="20" cols="80" placeholder="Enter A Statement !"></textarea><br/>
            <input type="submit" class="Pridct_button" value="Predict">
        </form>
    </div>
    <!--Result-->
    <div class = "container">
        {%block results%}
        {%endblock%}
    </div>

{%endblock%}